<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <title>Push-Ups Logger</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{{ url_for('static', filename= 'images/muscle.ico') }}"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Arvo&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename= 'beauty.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    {% endblock %}
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{{ url_for('main.index') }}"
        >Push-Ups Logger</a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a
              href="{{ url_for('main.user_workouts') }}"
              class="btn btn-outline-secondary"
              role="button"
              >All Workouts</a
            >
          </li>
          <li class="nav-item">
            <a
              href="{{ url_for('main.profile') }}"
              class="btn btn-outline-secondary"
              role="button"
              style="margin-left: 4px;"
              >Account</a
            >
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          {% if current_user.is_authenticated %}
          <a
            href="{{ url_for('main.new_workout') }}"
            class="btn btn-outline-primary"
            role="button"
            >Add New Workout</a
          >
          {% endif %} {% if not current_user.is_authenticated %}
          <a
            href="{{ url_for('auth.signup') }}"
            class="btn btn-outline-primary"
            role="button"
            >Signup</a
          >
          <a
            href="{{ url_for('auth.login') }}"
            class="btn btn-outline-primary"
            role="button"
            style="margin-left: 4px;"
            >Login</a
          >
          {% endif %} {% if current_user.is_authenticated %}
          <a
            href="{{ url_for('auth.logout') }}"
            class="btn btn-outline-danger"
            role="button"
            style="margin-left: 4px;"
            >Log Out</a
          >
          {% endif %}
        </form>
      </div>
    </nav>
    {% block content %} {% endblock %}
  </body>
</html>
