{% extends "base.html" %} {% block head %} {{ super() }}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename= 'extended_beauty.css') }}"
/>
{% endblock %} {% block content %}
<div class="col-md-4 col-md-offset-4">
  <form method="POST" action="/new">
    <h2>Add New Workout</h2>
    {% with messages = get_flashed_messages() %} {% if messages %}
    <div class="notification is-danger">
      {{ messages[0] }}
    </div>
    {% endif %} {% endwith %}
    <div class="form-group">
      <label for="pushup">Push-Ups</label>
      <input
        type="number"
        class="form-control"
        id="pushups"
        name="pushups"
        aria-describedby="pushupHelp"
        placeholder="Enter number of pushups done"
      />
    </div>
    <div class="form-group">
      <label for="comment">Comment</label>
      <input
        type="text"
        class="form-control"
        id="comment"
        name="comment"
        aria-describedby="pushupHelp"
        placeholder="any comments"
      />
    </div>
    <button type="submit" class="btn btn-primary">Add Workout</button>
  </form>
</div>
{% endblock %}
